
/*Somente relacionado ao cabeçalho da base*/
#cabeçalho {
    position: fixed;
    width: 100%;
    top: 0;
    margin: 0;
    padding: 0;
    height: 16vh;
    background-image: linear-gradient(to right, #e039ca, #111399);
    z-index: 1000;
    border-bottom: 5px solid rgb(56, 56, 56);
}

#logo { 
    margin-top: 7px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 50%;
}

#idsite {
    float: left;
    margin-left: 5%;
}

.nomelogo {
    margin-top: 30px;
    padding-left: 5px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(250, 250, 250);
}

#links {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: right;
    margin-top: 40px;
    margin-right: 5%;
    color: rgb(4, 64, 64);
}

a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:hover {
    color:rgb(10, 30, 204);
}

a:link {
    color:rgb(10, 30, 204);
}

a:active {
    color:rgb(64, 93, 146);
}

a:visited {
    color:rgb(64, 93, 146);
}

.buttons {
    background-color: rgb(199, 199, 199);
    text-decoration: none;
}

/*Relacionado ao fundo base*/
#corpo {
    position: relative;
    margin: 0;
    padding: 0;
    background-image: url(../images/_7d83f220-3d90-4960-81bc-be540689188e.jpg);
}

/*Relacionado ao conteúdo*/
.conteudo1 {
    position: relative;
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background: #E5E5E5;
    margin-top: 8%;
    text-align: center;
    border-left: 10px rgb(56, 56, 56);
    border-right: 10px rgb(56, 56, 56);
    align-content: center;
}

.titulo {
    align-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#texto1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-width: 75%;
    max-width: 80%;
    margin: 0 auto ;
}

#texto2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-width: 75%;
    max-width: 80%;
    margin: 0 auto ;
}

#texto3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-width: 75%;
    max-width: 80%;
    margin: 0 auto ;
}

.container1 {
    display: flex;
    justify-content: wrap; 
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 75px;
    padding-right: 75px;
    flex-wrap: wrap;
    align-items: center;
}

.btn {
    margin: 25px;
}