{% extends 'base.html' %}


<body id="corpo">

    {% block contents %}


    <!--Lista de fotos-->
    <div class="conteudo1">
        <div>
            <br> <br>
            <h3 class="titulo">Lista de desenhos de minha autoria</h3>
            <div class="container1">

                <!--Imagens (USAR 100X100)-->
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#Desenho1">
                    <img src="../static/images/Logoceasing1.png" alt="art1">
                    <h6>Desenho 1</h6>
                    <h6>(XX/XX/XXXX)</h6>
                </button>

                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#Desenho2">
                    <img src="../static/images/Logoceasing1.png" alt="art2">
                    <h6>Desenho 2</h6>
                    <h6>(XX/XX/XXXX)</h6>
                </button>

                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#Desenho3">
                    <img src="../static/images/Logoceasing1.png" alt="art3">
                    <h6>Desenho 3</h6>
                    <h6>(XX/XX/XXXX)</h6>
                </button>

                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#Desenho4">
                    <img src="../static/images/Logoceasing1.png" alt="art4">
                    <h6>Desenho 4</h6>
                    <h6>(XX/XX/XXXX)</h6>
                </button>

                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#Desenho5">
                    <img src="../static/images/Logoceasing1.png" alt="art5">
                    <h6>Desenho 5</h6>
                    <h6>(XX/XX/XXXX)</h6>
                </button>

                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#Desenho6">
                    <img src="../static/images/Logoceasing1.png" alt="art6">
                    <h6>Desenho 6</h6>
                    <h6>(XX/XX/XXXX)</h6>
                </button>

                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#Desenho7">
                    <img src="../static/images/Logoceasing1.png" alt="art7">
                    <h6>Desenho 7</h6>
                    <h6>(XX/XX/XXXX)</h6>
                </button>

                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#Desenho8">
                    <img src="../static/images/Logoceasing1.png" alt="art8">
                    <h6>Desenho 8</h6>
                    <h6>(XX/XX/XXXX)</h6>
                </button>

                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#Desenho9">
                    <img src="../static/images/Logoceasing1.png" alt="art9">
                    <h6>Desenho 9</h6>
                    <h6>(XX/XX/XXXX)</h6>
                </button>

                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#Desenho10">
                    <img src="../static/images/Logoceasing1.png" alt="art10">
                    <h6>Desenho 10</h6>
                    <h6>(XX/XX/XXXX)</h6>
                </button>

                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#Desenho11">
                    <img src="../static/images/Logoceasing1.png" alt="art11">
                    <h6>Desenho 11</h6>
                    <h6>(XX/XX/XXXX)</h6>
                </button>

                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#Desenho12">
                    <img src="../static/images/Logoceasing1.png" alt="art12">
                    <h6>Desenho 12</h6>
                    <h6>(XX/XX/XXXX)</h6>
                </button>

                <!--Fim das imagens-->
            </div>
        </div>
    

    <!--Janelas para ampliar as imagens-->
        <div class="modal fade" id="Desenho1" tabindex="-1" role="dialog" aria-labelledby="imagemModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                        <h5 class="modal-title" id="imagemModalLabel">Desenho 1 - Feito em (XX/XX/XXXX)</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="../static/images/Logoceasing1.png" class="img-fluid" alt="Minha Imagem">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="Desenho2" tabindex="-1" role="dialog" aria-labelledby="imagemModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                        <h5 class="modal-title" id="imagemModalLabel">Desenho 2 - Feito em (XX/XX/XXXX)</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="../static/images/Logoceasing1.png" class="img-fluid" alt="Minha Imagem">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="Desenho3" tabindex="-1" role="dialog" aria-labelledby="imagemModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                        <h5 class="modal-title" id="imagemModalLabel">Desenho 3 - Feito em (XX/XX/XXXX)</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="../static/images/Logoceasing1.png" class="img-fluid" alt="Minha Imagem">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="Desenho4" tabindex="-1" role="dialog" aria-labelledby="imagemModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                        <h5 class="modal-title" id="imagemModalLabel">Desenho 4 - Feito em (XX/XX/XXXX)</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="../static/images/Logoceasing1.png" class="img-fluid" alt="Minha Imagem">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="Desenho5" tabindex="-1" role="dialog" aria-labelledby="imagemModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                        <h5 class="modal-title" id="imagemModalLabel">Desenho 5 - Feito em (XX/XX/XXXX)</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="../static/images/Logoceasing1.png" class="img-fluid" alt="Minha Imagem">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="Desenho6" tabindex="-1" role="dialog" aria-labelledby="imagemModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                        <h5 class="modal-title" id="imagemModalLabel">Desenho 6 - Feito em (XX/XX/XXXX)</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="../static/images/Logoceasing1.png" class="img-fluid" alt="Minha Imagem">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="Desenho7" tabindex="-1" role="dialog" aria-labelledby="imagemModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                        <h5 class="modal-title" id="imagemModalLabel">Desenho 7 - Feito em (XX/XX/XXXX)</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="../static/images/Logoceasing1.png" class="img-fluid" alt="Minha Imagem">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="Desenho8" tabindex="-1" role="dialog" aria-labelledby="imagemModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                        <h5 class="modal-title" id="imagemModalLabel">Desenho 8 - Feito em (XX/XX/XXXX)</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="../static/images/Logoceasing1.png" class="img-fluid" alt="Minha Imagem">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="Desenho9" tabindex="-1" role="dialog" aria-labelledby="imagemModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                        <h5 class="modal-title" id="imagemModalLabel">Desenho 9 - Feito em (XX/XX/XXXX)</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="../static/images/Logoceasing1.png" class="img-fluid" alt="Minha Imagem">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="Desenho10" tabindex="-1" role="dialog" aria-labelledby="imagemModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                     <div class="modal-header">

                        <h5 class="modal-title" id="imagemModalLabel">Desenho 10 - Feito em (XX/XX/XXXX)</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="../static/images/Logoceasing1.png" class="img-fluid" alt="Minha Imagem">
                    </div>
                </div>
            </div>
        </div>
       
        <div class="modal fade" id="Desenho11" tabindex="-1" role="dialog" aria-labelledby="imagemModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                     <div class="modal-header">

                        <h5 class="modal-title" id="imagemModalLabel">Desenho 11 - Feito em (XX/XX/XXXX)</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="../static/images/Logoceasing1.png" class="img-fluid" alt="Minha Imagem">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="Desenho12" tabindex="-1" role="dialog" aria-labelledby="imagemModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                     <div class="modal-header">

                        <h5 class="modal-title" id="imagemModalLabel">Desenho 12 - Feito em (XX/XX/XXXX)</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="../static/images/Logoceasing1.png" class="img-fluid" alt="Minha Imagem">
                    </div>
                </div>
            </div>
        </div>

    </div>


    {% endblock %}

    <!--Scripts necessários para o uso de modal-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>