<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <title>base</title>

</head>
<link rel="stylesheet" href="../static/css/style.css"> <!--Link para CSS-->
<!--Corpo da página-->

<body id="corpo">
    
        <header  id="cabeçalho"> <!--Início do cabeçalho-->

                <div id="linhacabeçalho">
                        <div id="idsite">
                                <img src="../static/images/Logoceasing1.png" alt="Logo" id="logo"> <!--Logo para cabeçalho-->
                                <span class="nomelogo">Winter's Cantinho</span>
                        </div>

                        <span id="links">
                                <button type="button" class="buttons"><a href="sobremim.html" class="text-decoration-none">Sobre mim</a></button> 
                                <button type="button" class="buttons"><a href="artes.html" class="text-decoration-none">Artes já feitas</a></button> 
                                <button type="button" class="buttons"><a href="redes.html" class="text-decoration-none">Redes sociais</a></button>
                                <button type="button" class="buttons"><a href="feedback.html" class="text-decoration-none">Feedback</a></button>
                        </span>
                </div>

        </header>

        {% block contents %}

        {% endblock %}


        <footer id="footer" style="width: 100%;">
                <div>
                        <p class="info">&copy; 2024 Meu Site Inc.</p>   
                </div>
        </footer>

        
    <!--Scripts necessários para o uso de modal-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
