{% extends 'base.html' %}


<body id="corpo">

    {% block contents %}

    <div class="conteudo1">
        <div id="texto1">
            <h2 class="titulo">Redes sociais</h2>

            <br>

            <p>Estas são as redes sociais dos quais eu participo ou já participei. Todas essas imagens terão links para respectivas páginas!</p>
        </div>

        <br>

        <div id="resoc1">
            <button id="redes" class="img-fluid">
                <a href="https://github.com/llWinter1z">
                    <img src="../static/images/redes/github.png" alt="github" style="max-width: 100px; max-height: 100px; padding: 2%;">
                </a>
            </button>

            <button id="redes" class="img-fluid">
                <a href="https://steamcommunity.com/profiles/76561199017694202">
                    <img src="../static/images/redes/steam.webp" alt="steam" style="max-width: 100px; max-height: 100px; padding: 2%;">
                </a>
            </button>

            <button id="redes" class="img-fluid">
                <a href="https://br.linkedin.com/in/fabio-eyki-misaki-fernandes-489865251">
                <img src="../static/images/redes/linkedin.png" alt="linkedin" style="max-width: 100px; max-height: 100px; padding: 2%;">
                </a>
            </button>

        </div>

        <br><br><br><br><br><br><br><br>

        <br><br><br><br><br><br><br><br>

    </div>
    


    {% endblock %}

</body>
</html>