{% extends 'base.html' %}


<body id="corpo">

    {% block contents %}

    <div class="conteudo1"> <!--Conteúdo-->
        <br><br>
        <div id="texto1">
            <h1 class="titulo">Sobre o site:</h1>
            <p>Olá, caro leitor! Este é o meu cantinho na internet, onde coloco todos os meus tipos de memórias, principalmente os meus desenhos e passatempos. Posso dizer que este é um pequeno armário onde guardo tudo que julgo ser importante para mim. Além disso, também é um pequeno projeto para a faculdade onde estudo.</p>   
        </div>

        <div id="texto2">
            <h1 class="titulo">Sobre mim:</h1>
            <img src="" alt="ceasingtrabaiadoh">
            <p>Sou um desenhista nascido no Estado de São Paulo, onde também cresci. Atualmente, em 2024, possuo 19 anos de idade, prestes a fazer 20. Gosto muito de desenhar personagens antropomórficos, o que algumas pessoas podem considerar um hobby bem estranho, devido à ligações com a chamada "furry fandom". Também adoro escutar música e jogar jogos on-line, o que me dão ainda mais inspiração para poder seguir desenhando os meus personagens</p>
            <p>Também costumo assistir a vídeos de história relacionados a eventos de conflitos bélicos, como a Primeira e Segunda Guerra Mundial. Por isso mesmo, um dos jogos que mais pratico é War Thunder e Hell Let Loose. Também tenho muito interesse em músicas dos anos 40, como Erika, Katyusha e Es War Ein Edelweiss.</p>
        </div>

        <div id="texto3">
            <h1 class="titulo">Sobre o site:</h1>
            <p>Possuo um pouco de conhecimento de cada coisa, devido a alguns cursos do quais participei. Entre eles, possuo conhecimentos de química, programação e história.</p>   
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi nam libero autem quos molestias, laudantium quisquam? Fugit saepe qui nulla, delectus voluptas modi culpa nobis hic optio minima dicta laborum?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, eligendi sit itaque incidunt dolorum soluta minus eius quos debitis voluptates ex nisi voluptatum corrupti atque facilis molestiae temporibus quia mollitia?</p>
            <p style="text-decoration: line-through;">Sim, eu fiquei sem criatividade sobre o que escrever aqui...</p>
        </div>

        <div id="texto3">
            <p>Enfim, espero que você pelo menos ache algo interessante entre as minhas tranqueiras! Qualquer feedback é muito bem vindo!</p>
        </div>

        <br> <br>

    </div>


    {% endblock %}

</body>
</html>

